


.footer {
    background:rgba(65, 2, 2, 0.9);
    color: #FFF;
    width: 100%;
    height: 95px;
    border-top: 1px solid #fff;
    position:absolute;
    bottom:0px;
    z-index: 10;
    box-shadow: 0px 0px 15px #fff;
}

.term ul li {
    display: inline-block;
    margin:5px 10px 10px 5px;
    vertical-align: center;
}

.term ul li:first-child {
    padding-left: 10px;
}

.term ul{
    margin-left: 120px;
}

a {
    text-decoration: none;
    color: #fff;
    font-family:'Righteous', cursive;
    letter-spacing: 2px;
}

a:hover {
    text-decoration: none;
    color:#8A0900;


}

h3 {
    float: right;
}

.term{
    float: left;
    margin: 30px 10px 30px 10px;
    position:relative;
}

.term a img{
    height:50px;
    width:100px;
    position:absolute;
    top: -15px;
    left: 0px;
}






.social {
    float: right;
    margin: 20px 10px 0px 0px ;
}

.social ul {
    margin-right: 20px;
}
.social ul li {
    display: inline-block;
    margin-right: 15px;

}

.social ul li a img{
    width:50px;
    height:50px;
}