

section article {
    margin-top: 100px;
}

section h2 {
	text-transform: uppercase;
	text-align: center;
}


article.rang1 {
   display: block;
    
}
section article ul li {
	display: inline-block;
	float: left;
    padding:2%;
	margin-top: 30px;
	margin-right: 15px;
}


section article ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #af8383;
	font: normal 14pt 'Righteous', sans-serif;
	text-align: center;
}

section article ul li img{
	border:  3px solid #fff;
	border-radius: 50%;	
	height: 180px;
}

section article ul li img:hover {
	background: red;
	opacity: 0.6;

}

section article .radius {
	border: #000;
}
